.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 100vh;
  width: 30vw;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}

.input.-textarea {
  height: 15%;
}

.button {
  align-self: flex-end;
}
